.app {
  text-align: center;
}

#home-icon{
  height:50px;
  width:50px;
}

ul{
  list-style-type: none;
}

.navbar-item{
  display: inline;
  margin: 10%;
}

#navbar{
  height: 100px;
  margin-top: -16px;
}